:root {
  --bg-main: #F4F6F8;
  --primary-blue: #1E3A5F;
  --accent-orange: #F59E0B;

  /* Supporting */
  --white: #FFFFFF;
  --text-dark: #1F2937;
  --text-muted: #6B7280;
  --border-light: #E5E7EB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: var(--bg-main);
    color: var(--text-dark);
    height: 100vh;
}
header {
     background: var(--primary-blue);
    color: var(--white);
    padding: 4px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    font-size: 24px;
    font-weight: 600;
}

header a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    list-style: none;
    transition: 0.3s;
}
main {
    display: flex;
    padding: 20px;
    gap: 20px;
}
main > div {
    width: 35%;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 10px  #c4b5fd;;
}

main > div h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

main > div p {
    font-size: 18px;
    margin: 10px 0;
}

button {
    margin: 15px 0;
    padding: 10px 15px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background: var(--accent-orange);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
   background: #d97706; 
}

.one h2{
    font-size: 20px;
    margin-top: 80px;
    margin-bottom: 15px;
}
.one p{
    margin-bottom: 40px
}
.two h2{
    margin-left: 210px;
   font-size: 25px;
}

.buttons{
    margin-right: 30px;
}
.right {
    width: 45%;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.07);
}

.right h2 {
    margin-bottom: 15px;
}

table {
    margin-left: 90PX;
    margin-top: 30PX;
    width: 100%;
    border-collapse: collapse;
}

table th {
    background: #30475E;
    color: white;
    padding: 10px 70px;
    text-align: left;
}

table td {
    padding: 10px 8px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

table tr:hover td {
    background: #f2f2f2;
}
footer {
    text-align: center;
    padding: 10px;
    margin-top: 270px;
    font-size: 14px;
    color: #666;
}

@media (max-width: 900px) {
    main {
        flex-direction: column;
    }
    .left,
    .right,
    main > div {
        width: 100%;
    }
}


