:root {
  --bg-main: #F4F6F8;
  --primary-blue: #1E3A5F;
  --accent-orange: #F59E0B;
  --white: #FFFFFF;
  --text-dark: #1F2937;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: var(--bg-main);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  background: var(--white);
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.form-box {
  width: 80%;
}

form {
  text-align: center;
}

form h1 {
  font-size: 30px;
  color: var(--primary-blue);
}

.infield input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background: var(--accent-orange);
  color: white;
  padding: 12px 35px;
  border-radius: 25px;
  border: none;
  margin-top: 15px;
  cursor: pointer;
}

button:hover {
  background: #d97706;
}
